<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>QStudio</string>
    <key>CFBundleDisplayName</key>
    <string>QStudio.app</string>
    <key>CFBundleIdentifier</key>
    <string>com.TimeStored.QStudio</string>
    <key>CFBundleVersion</key>
    <string>SOME-VERSION-THAT-WILL-BE-REPLACED</string>
    <key>CFBundleShortVersionString</key>
    <string>SOME-VERSION-THAT-WILL-BE-REPLACED</string>
    <key>CFBundleVersion</key>
    <string>Revision 1.0</string>
    <key>CFBundleExecutable</key>
    <string>run-qstudio.sh</string>
    <key>CFBundleIconFile</key>
    <string>QStudio.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
